body,html
{
width:100%;
height:100%;
margin:0px;
background-color:#eee;
text-align:center;
font-family:'Ubuntu', sans-serif;
}
a
{
text-decoration:none;
}
div#top
{
width:100%;
height:50px;
float:left;
position:fixed;
top:0px;
left:0px;
line-height:50px;
background-color:#fff;
}
div#topinr
{
width:960px;
height:50px;
margin:0px auto;
}
div#toplogo
{
width:200px;
height:50px;
float:left;
background-color:#354052;
color:#fff;
}
div#topmenu
{
width:200px;
height:50px;
float:right;
color:#aaa;
}
a.topmenu
{
width:100px;
height:50px;
float:left;
}
div#content
{
width:100%;
float:left;
margin-top:60px;
}
div#contentinr
{
width:960px;
margin:0px auto;
}
div#sidebar
{
width:200px;
float:left;
}
a.sidebaritem,a#sidebarname
{
width:200px;
height:50px;
float:left;
line-height:50px;
background-color:#354052;
color:#fff;
border-bottom:1px solid #323C4C;
}
a#sidebarname
{
background-color:#A38AD4;
}
div#bar
{
width:760px;
height:400px;
float:left;
background-color:#fff;
}